.cell {
	width: 32px;
	height: 32px;
	background: purple;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 8px;
	justify-content: start;
	width: 320px;
}
