.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.cell {
	width: 32px;
	height: 32px;
	border: solid 1px black;
}
.ship {
	background-color: lightblue;
}

.gameboard,
.hitboard {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 1px;
	justify-content: start;
	width: 320px;
}

.missed {
	background-color: red;
}
.hit {
	background-color: green;
}
.sunk {
	background-color: gray;
}
